<div class="site-footer gt-c-content-color-first">
    <div class="slogan gt-c-content-color-first"><%- themeConfig.siteDescription %></div>
    <div class="social-container">
        <% ['github', 'twitter', 'weibo', 'zhihu', 'dribbble', 'facebook'].forEach((item) => { %>
            <% if (site.customConfig[item]) { %>
                <a href="<%= site.customConfig[item] %>" target="_blank">
                    <i class="fab fa-<%= item %> gt-c-content-color-first"></i>
                </a>
            <% } %>
        <% }) %>
    </div>
    <div class="footer-info">
        <%- themeConfig.footerInfo %>
    </div>
    <div>
        Theme by <a href="https://imhanjie.com/" target="_blank">imhanjie</a>, Powered by <a
                href="https://github.com/getgridea/gridea" target="_blank">Gridea | <a href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a></a>
    </div>
</div>

<script>
  hljs.initHighlightingOnLoad()
</script>
