<div class="site-footer gt-c-content-color-first">
    <div class="slogan gt-c-content-color-first"><%- themeConfig.siteDescription %></div>
    <div class="social-container">
        <% ['github', 'twitter', 'weibo', 'zhihu', 'dribbble', 'facebook'].forEach((item) => { %>
            <% if (site.customConfig[item]) { %>
                <a href="<%= site.customConfig[item] %>" target="_blank">
                    <i class="fab fa-<%= item %> gt-c-content-color-first"></i>
                </a>
            <% } %>
        <% }) %>
    </div>
    <div class="footer-info">
        <%- themeConfig.footerInfo %>
    </div>
    <div>
        Theme <a href="https://github.com/imhanjie/gridea-theme-pure" target="_blank">Pure</a>, Powered by <a
                href="https://gridea.dev" target="_blank">Gridea</a> | <a href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a>
    </div>
</div>

<script>
  hljs.highlightAll()
</script>
