<html>

<head>
    <%- include('./includes/head', { siteTitle: `友情链接 | ${themeConfig.siteName}` }) %>
</head>

<body>
<div class="main gt-bg-theme-color-first">
        <div class="main-content">
            <%- include('./includes/header') %>
            <div class="post-container">
                <div class="post-detail">
                    <article>
                        <!-- <div class="post-content-wrapper"> -->
                            <div class="post-content">
                                <div class="friends-desc">
                                    <%- site.customConfig.descfriend %>
                                </div>
                                <h3 id="linklist">友链列表</h3>
                                <% if (site.customConfig.friends) { %>
                                    <% site.customConfig.friends.forEach(function(friend) { %>
                                        <div class="friend-box">
                                            <img class="friend-avatar" src="<%= friend.siteLogo %>">
                                            <div class="flink-info">
                                                <% if(friend.siteLink == "/friendssq") { %>
                                                    <a class="gt-c-content-color-first" href="<%= friend.siteLink %>" target="_Self"><%= friend.siteName %></a>
                                                    <% } else { %>
                                                        <a class="gt-c-content-color-first" href="<%= friend.siteLink %>" target="_blank"><%= friend.siteName %></a>
                                                        <% } %>
                                                <br />
                                                <div class="flink-info-desc gt-c-content-color-first">
                                                    <%= friend.description %>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    暂无友链，快来申请吧！
                                <% } %>
                            </div>
                        <!-- </div> -->
                    </article>
                </div>
                <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
                    <% if (commentSetting.commentPlatform === 'gitalk') { %>
                        <%- include('./includes/gitalk') %>
                    <% } %>

                    <% if (commentSetting.commentPlatform === 'disqus') { %>
                        <%- include('./includes/disqus') %>
                    <% } %>
                <% } %>
            </div>



            <%- include('./includes/footer') %>
        </div>
    </div>
</body>

</html>
