<html>
<head>
    <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
</head>
<body>
<div class="main gt-bg-theme-color-first">
    <div class="main-content">
        <%- include('./includes/header') %>
        <div class="current-tag-container">
            <h2 class="title gt-c-content-color-first">
                #<%= tag.name %>
            </h2>
        </div>
        <%- include('./includes/post-list') %>
        <%- include('./includes/pagination') %>
        <%- include('./includes/footer') %>
    </div>
</div>
</body>
</html>
