<html>
<head>
    <%- include('./includes/head', { siteTitle: `标签 | ${themeConfig.siteName}` }) %>
</head>
<body>
<div class="main gt-bg-theme-color-first">
    <div class="main-content">
        <%- include('./includes/header') %>
        <div class="post-container">
            <div class="post-detail gt-bg-theme-color-first">
                <article class="gt-post-content">
                    <h2 class="post-title">标签</h2>
        <div class="tags-container">
            <% tags.forEach((tag) => { %>
                <a class="tag gt-c-content-color-first gt-a-link"
                   href="<%= tag.link %>">#<%= tag.name %></a>
            <% }); %>
        </div>
    </article>
</div>
</div>
        <%- include('./includes/footer') %>
    </div>
</div>
</body>
</html>
